version: '3.9'

services:
  database:
    container_name: football-games-db
    image: postgres
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - ./db/footballGames.sql:/docker-entrypoint-initdb.d/footballGames.sql