@import 'components/form.css';
@import 'components/table.css';
@import 'components/nav.css';
@import 'components/results_list.css';

header {
  width: 100%;
  background-color: red;
  margin-top: 2%;
  margin-bottom: 1%;
}

.header-container {
  max-width: 1200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

main {
    max-width: 1200px; /* Or your table's natural width */
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}