body {
    background-color: blue;
}

.nav-link:hover {
    background-color: lightgray;
}

.my_table td,
.my_table th {
    text-align: center;
}

.card {
    background-color: aqua;
}

.form-row {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 1%;
}

.form-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1%;
}

.form-control {
    flex: 0 0 70%;
}