.results_list .card-body{
    display: flex;
    justify-content: center;
}

.results_list .results {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.results_list .card {
    width: 100%;
    border: 2px solid black;
}

.results_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: rgb(233, 236, 239);
    margin-bottom: 3rem;
    padding: 1rem;
    border-radius: 10px;
    margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  width: 100%;
}

.results_list h2 {
    align-content: left;
}

.results_list .btn {
    position: absolute;
    right: 1rem;
    padding: 0.375rem 0.75rem;
    font-size: 0.875rem;
}