.team_description {
    background-color: rgb(233, 236, 239);
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: 2rem;
    margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  width: 100%;
}

.img-location {
    display: flex;
    justify-content: center;
    padding: 2rem 0;
}

.team_description img {
  width: 80%;        /* Stretch to fill container width */
  object-position: center; /* Center the image in the frame */
  border-radius: 8px; /* Optional: for visual polish */
}

.team-header, .results-list-description {
    margin-bottom: 2rem;
}